:root {
  --background: #E2F3FF;
  --button-color: #79CAAB;
  --button-hover-color: #fff;
  --text-color: #000;
  --border-color: #000;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.container {
  width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px
}

.title {
  color: var(--text-color);
}

.fillExtense {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.inputDescription {
  color: var(--text-color);
}

.common-containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.companyContainer {
  width: 400px;
  height: 55px;
  box-sizing: border-box;
}

.moneyContainer {
  width: 200px;
  height: 55px;
  box-sizing: border-box;
}

.companyInput {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.moneyInput {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.createButton {
  width: 100%;
  height: 32px;
  border: 0;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-weight: 700;
  background: var(--button-color);
  transition: .5s;
}

.createButton:hover {
  background: var(--button-hover-color);
  cursor: pointer;
}

.containerWithExpenses {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--text-color);
  width: 100%;
  margin-top: 40px;
}

.moneyTotal {
  cursor:default;
  text-align: end;
  margin: 0 5px;
}

.element {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box;
}

.numberEl, .shopName, .dateElem {
  cursor: default;
  margin: 0 20px;
}

.images {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 5px;
  background: var(--button-color);
  transition: .3s;
  border: 1px solid var(--border-color);
}

.images:hover {
  cursor: pointer;
  background: var(--button-hover-color);
}

.hidden {
  display: none;
}

.inputShopEl, .inputDateEl, .inputMoneyEl {
  height: 30px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}

.inputShopEl {
  width: 250px;
}

.inputDateEl {
  width: 130px;
}

.inputMoneyEl {
  width: 150px;
}